body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px;
    border: 3px solid #b16c6c;
    border-radius: 5px;
    background-color: #6A2929;
}
input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fefbf2;
    color: #000000;
    cursor: pointer;
}
button:hover {
    background-color: #F4E8C1;
}